

body {
    font-family: 'Courier New';
    
}

/* nav */

.navbar-brand {
  margin: 15px;
  font-weight: bold;
  font-size: x-large;
}

.nav-item {
  margin: 15px;
  font-weight: bold;
}

/* Banner */

.jumbotron {
background-image: url('images/fruit_banner.jpg');

min-height: 400px;
margin-bottom: 15px;
}


/* Fruit */

.fruit-header {
  padding: 20px 20px 20px 0px;
  margin: 20px 20px 20px 0px;
 }

.container-flex {
  margin-top: 22px;
}


/* BASKET */

#displayApple {
  padding: 10px;
}

#displayBanana {
  padding: 10px;
}

#displayKiwi {
  padding: 10px;
}

.total-style{
  margin: 10px;
}

.total-style h4{
  padding: 5px;
  margin-left: 20px;
}

.total-style button{
  padding: 5px;
  margin-left: 20px;
  margin-right: 8px;
}

.basket {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#basket-section {
  display: none;
}

#empty {
  display: block;
}

.hide {
  display: none;
}

.hide {
  display: none;
}
