

body {
    font-family: 'Courier New';
    
}

/* nav */

.navbar-brand {
  margin: 15px;
  font-weight: bold;
  font-size: x-large;
}

.nav-item {
  margin: 15px;
  font-weight: bold;
}

/* Banner */

.jumbotron {
background-image: url('assets/images/fruit_banner.jpg');

min-height: 400px;
margin-bottom: 15px;
}


/* Fruit */

.fruit-header {
  padding: 20px 20px 20px 0px;
  margin: 20px 20px 20px 0px;

 
 
}

.container-flex {
  margin-top: 22px;
}


/* BASKET */

.basket {
 
            padding: 10px 10px 60px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
}