

body {
    font-family: 'Courier New';
    
}

h4 {
  margin-bottom: 0px;
}

/* nav */

.navbar-brand {
  margin: 15px;
  font-weight: bold;
  font-size: x-large;
}

.nav-item {
  margin: 15px;
  font-weight: bold;
}

/* Banner */

.jumbotron {
background-image: url('images/fruit_banner.jpg');

min-height: 400px;
margin-bottom: 15px;
}


/* Fruit */

.fruit {
  height: 50vh;
  margin-top: 10px;
}

@media (max-width : 1280px){
  .fruit {
    height: 100% !important;
  }}

.basket-height {
  height: 50vh;
}

@media (max-width : 1280px){
  .basket-height {
    height: 100% !important;
  }}

.fruit-header {
  padding: 5px 20px 5px 0px;
  margin: 5px 20px 5px 0px;
 }

.container-flex {
  margin-top: 22px;
}


/* BASKET */

#displayApple {
  padding: 5px;
}

#displayBanana {
  padding: 5px;
}

#displayKiwi {
  padding: 5px;
}

.total-style{
  margin: 10px;
}

.total-style h4{
  padding: 5px;
  margin-left: 20px;
}

.total-style button{
  padding: 5px;
  margin-left: 20px;
  margin-right: 8px;
}

.basket {
  padding-top: 5px;
  padding-bottom: 5px;

}

.hide {
  display: none;
}

.payment button {
  margin-right: 26px;
}

/* modal */

.basket-title{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;

}

.basket-title h4{
  border-bottom: 2px solid black;
}

form {
  padding: 10px;
}

